body { 

  font: small Gerogia, Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #000;
  background: #6699cc url("../img/bg.gif") no-repeat top left;
  line-height: 180%;
  padding: 0;
  margin: 0;
  
}

a, a:link { 

  color: #0D4CAC;
  text-decoration: none;

}

a:active { 

  color: #0069b3;

}

a:visited { 

  color: #0D4CAC;

}

a:hover {

  color: #0D4CAC;
  border-bottom: 1px blue solid;

}

.copyright { 

  text-align: center;

}

img {

  border: 0;

}

img.news {

  width: 62px;
  height: 85px;
  float: left;
  
}

a.screenshot:hover { 

  border: 0;

}

a.screenshot img { 

  width: 140px;
  height: 162px;
  padding: 20px 0;

}

div.release { 


}

div.release h2 {


}

br { 

  clear: all;

}

#menubar { 

  background: #8dcff4 url("../img/menu_bg.gif") no-repeat 0 40px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 110px;
  padding: 10px 24px 150px 15px;

}

#menubar ul {

  list-style-type: none;
  font-weight: bold;
  margin-left: 0;
  padding-left: 0;

}

#mainbar { 

  width: auto;
  background: #fff;
  text-align: justify;
  margin: 120px 0 0 150px;
  padding: 0 25px 0 25px;
  min-width: 120px;
  min-height: 480px;

}

div.sidebar {

  float: right;
  width: 24%;
  padding-top: 30px;
  padding-left: 10px;
  margin-left: 20px;
  text-align: center;
  border-left: 1px #ddd solid;

}

div.poll { 

  text-align: left;
  border: 1px #000 solid;
  padding: 0 8px 10px 8px;

}

div.poll h4 { 

  text-transform: uppercase;
  font-size: small;
}

hr { 

  border: 1px #dedede solid;
  height: 1px;

}

abbr:hover { 

  background-color: yellow;
  border-bottom: 0;

}

#footer { 

  font-size: x-small;
  text-align: center;
  color: #777;
  padding-top: 10px;
  padding-bottom: 4px;

}